---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CHAIRS">
  <div class="intro">
    <div class="intro-line">Hi. I'm <a href="/blog">Chairs.</a></div>
    <div class="intro-line" style="padding-left: 2ch;">I live in <a href="#">Canada</a></div>
    <div class="intro-line" style="padding-left: 4ch;">and I love computers</div>
  </div>
  <hr>
  <div class="home-text">you might be here for my <a href="/blog">blog</a>
or you want to see some of my <a href="/projects">projects</a></div>
  <hr>
  <div class="home-text">questions? here's my:

Matrix: <a href="#">chairs:chairss.duckdns.org</a>
Fluxer: <a href="#">aunchers</a>
GitHub: <a href="https://github.com/aunchers">aunchers</a>
Email:  <a href="mailto:1_aunchers@proton.me">1_aunchers@proton.me</a></div>
  <hr>
  <div class="home-text">And here's my <a href="/aunchers.asc">PGP Key</a></div>
</BaseLayout>
