---
import prjs from "../data/prjs.json";
import "../styles/global.css";

const projects = Object.entries(prjs).map(([key, value]) => ({
  key,
  ...value
}));
---

{
  projects.map(({ key, description, links }) => (
    <details
      class=""
      style="border: 1px solid #ccc; padding: 0.8rem; border-radius: 8px;"
    >
      <summary style="font-weight: bold; font-size: 1.1rem;">{key}</summary>
      <div style="margin-top: 0.5rem;">
        <div style="margin-bottom: 0.5rem;" set:html={description} />
        {links && Object.keys(links).length > 0 && (
          <div>
            links:{" "}
            {Object.entries(links).map(([name, url], i) => (
              <>
                <a
                  class="links"
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="pointer-default"
                >
                  {name}
                </a>
                {i < Object.entries(links).length - 1 ? " | " : ""}
              </>
            ))}
          </div>
        )}
      </div>
    </details>
  ))
}
